body{
    background-color: beige;
}

#header{
    min-height: 10%;
    margin-top: 0;
    position: absolute;
    width: 100%;
}

#body{
    background: url("../../images/bg.jpg") no-repeat center center fixed;
    background-size: cover;
    height:100vh;
    width: 100%;
    padding-top: 50px;
}

#driver-body{
    width: 100%;
    padding-top: 50px;
    margin-bottom: 20px;
}

#content .col-lg-4{
    margin-bottom: 20px;
    text-align: center;
}

#footer {
    background-color:aliceblue;
    width: 100%;
    height: 75px;
    padding-top: 12px;
    clear:both;
    position: relative;
}

#driver-footer{
    background-color:aliceblue;
    position: relative;
    height: 100px;
    clear:both;
    width: 100%;
    padding-top:20px;
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}

.requiredErr
{
 border:1px solid red;
}